body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#companyNameText {
  font-size: 180%;
  color: white;
  font-family: Verdana;
}

#productNameText {
  color: #ff004b;
  font-size: 275%;
  font-family: Verdana;
}

#price {
  color: #ff004b;
  font-family: Verdana;
  font-size: 125%;
}

.specifications {
  color: #5e5e5e;
  font-family: Verdana;
  font-size: 100%;
}

.addToCartButton {
  font-family: Verdana;
  color: white;
  font-size: 20px;
  background-color: #ff004b;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-text-decoration-color: currentcolor;
  text-decoration-color: currentcolor;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

.addToCartButton:hover {
  background-color: #ebebeb;
  color: #ff004b;
}

.topnav {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-text-decoration-color: currentcolor;
  text-decoration-color: currentcolor;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  font-size: 17px;
  font-family: Verdana;
}

.topnav a:hover {
  background-color: #ebebeb;
  color: #ff004b;
}

.topnav a.active {
  background-color: white;
  color: #ff004b
}
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  text-align:center;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  margin-left:auto;
  margin-right:auto%;
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #fff;
  background: #ff004b;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #fff;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: scroll;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 550px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #e5e5e5;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  margin-left:auto;
  margin-right:auto;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 98%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;

}
a {
  color: #00B7FF;
}
